<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dhktpm15_appstore_nhom8">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DHKTPM15_AppStore_Nhom8">
        <activity
            android:name=".gui.Greeting"
            android:exported="false" />
        <activity
            android:name=".gui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".gui.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".gui.CartDetail"
            android:exported="false" />
        <activity
            android:name=".gui.SushiDetals"
            android:exported="false" />
        <activity
            android:name=".gui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>